[submodule "glxw"]
	path = deps/glxw
	url = https://github.com/rikusalminen/glxw
[submodule "zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
[submodule "libpng"]
	path = deps/libpng
	url = https://github.com/glennrp/libpng
[submodule "deps/FreeGLUT"]
	path = deps/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT
